<% if (typeof(locals.new_channel)!== 'undefined' && isIn(locals.loggedInUser.uType,['admin','siteAdmin','sysAdmin'])==true ) { %>
    <div class="col-md-8 col-lg-8 col-md-push-2">
        <div class="jumbotron">
            <h2 class="text-center" style="border-radius: 4px; border: 1px solid; box-shadow: 1px 1px 1px 1px #f7f0f0 , 2px 2px 1px 1px;"><b><i>Channel</i></b><span class="bg-info text-primary" style="border-radius: 5px;">&nbsp;&nbsp;</span></h2> 
            <form role="form" class="form-horizontal text-primary" action="/addChannel" name="channel" id="channel" data-pg-name="channel" title="channel" style="border-radius: 5px; box-shadow: 1px 1px 1px 1px #f9f3f3 , 2px 2px 1px 1px #000000; border: 1px solid #000000;" method="POST"> 
                <div class="form-group"> 
                    <label class="control-label col-sm-2" for="title">Title</label>                 
                    <div class="col-sm-10" data-pg-name="uName">
                        <div>
                            <input type="text" class="form-control text-center" id="title" placeholder="Channel Title" data-pg-name="title" value="" name="title">
                        </div>
                    </div>                 
                </div>             
                <div class="form-group"> 
                    <label class="control-label col-sm-2" for="country">Country</label>                 
                    <div class="col-sm-10">
                        <div>
                            <input type="text" class="form-control text-center" id="country" placeholder="Lebanon" value="">
                        </div>
                    </div>                 
                </div>             
                <div class="form-group"> 
                    <label class="control-label col-sm-2" for="genre">Genre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control text-center" id="genre" placeholder="Genre" name="genre" value="">
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="control-label col-sm-2" for="address">Address</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control text-center" id="address" placeholder="Address" name="address" value="">
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="control-label col-sm-2" for="description">Info</label>                 
                    <div class="col-sm-10">
                        <textarea class="form-control bg-info" rows="3" id="description" name="description" data-pg-name="description"></textarea>
                    </div>
                </div>             
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox"> 
                            <label class="control-label"> 
                                <input type="checkbox" value="" checked="checked" name="enabled">        Channel Enabled ?        
                            </label>                         
                        </div>
                    </div>
                </div>
                <div class="form-group"> 
                    <div class="col-sm-offset-5 col-sm-2">
                        <button type="submit" class="btn btn-primary"> 
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Add
                        </button>
                    </div>
                </div>
            </form>
        </div>     
    </div>
<% } else if (typeof(locals.list_channels)!=='undefined') { %>
    <div class="col-sm-6 col-md-2 center-block"> 
        <div class="thumbnail" style="box-shadow: black 0px 0px 64px 8px inset;border-radius: 10px;"> 
            <%#  %> <!-- <img alt="<%= item.title %>" 100%x200 src="<%= item.poster %>" class="img-thumbnail" style="max-height:200px;min-height: 200px;">  -->
            <div class="caption"> 
                <h5 class="text-bolder text-italic truncate"><%= item.title %> - <%= item.country %></h5>
                <h6 class="text-bolder text-italic"> <%= item.genres %> </h6>
                <p><%- pad(truncate(item.description,100,'...'),110) %></p> 
                <p><a href="/watchTv?ch=<%= item._id %> " class="btn btn-default" role="button" style="box-shadow: black 1px 1px 24px 6px inset; color: lightgoldenrodyellow; text-align: center; border-radius:5px;">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                 Watch</a>
                <!-- If the logged in user is an Admin,sysAdmin,siteAdmin  then he/she can modify the content attributes of the movie -->
                <% if(typeof(locals.loggedIn) !== 'undefined' ) {%>
                    <%#  if a user is logged in then we can check for loggedInUser.utype and see if we have previlidge to add or remove new channel %>
                    <% if (['admin','siteAdmin','sysAdmin'].indexOf(locals.loggedInUser.uType) !== -1 ) {%>
                        <a href="/livetv?edit=<%= item._id %>" class="btn btn-danger" role="button" style="box-shadow: black 1px 1px 24px 6px inset; color: lightgoldenrodyellow; text-align: center; border-radius:5px;">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    <% } %>
                <% } %>
                </p> 
            </div>         
        </div>     
    </div>
<% }  %>
 