<% if (typeof(locals.new_channel)!== 'undefined') { %>
    <div class="col-md-8 col-lg-8 col-md-push-2">
        <div class="jumbotron">
            <h2 class="text-center" style="border-radius: 4px; border: 1px solid; box-shadow: 1px 1px 1px 1px #f7f0f0 , 2px 2px 1px 1px;"><b><i>Channel</i></b><span class="bg-info text-primary" style="border-radius: 5px;">&nbsp;&nbsp;</span></h2> 
            <form role="form" class="form-horizontal text-primary" action="/addChannel" name="channel" id="channel" data-pg-name="channel" title="channel" style="border-radius: 5px; box-shadow: 1px 1px 1px 1px #f9f3f3 , 2px 2px 1px 1px #000000; border: 1px solid #000000;" method="POST"> 
                <div class="form-group"> 
                    <label class="control-label col-sm-2" for="title">Title</label>                 
                    <div class="col-sm-10" data-pg-name="uName">
                        <div>
                            <input type="text" class="form-control text-center" id="title" placeholder="Channel Title" data-pg-name="title" value="">
                        </div>
                    </div>                 
                </div>             
                <div class="form-group"> 
                    <label class="control-label col-sm-2" for="country">Country</label>                 
                    <div class="col-sm-10">
                        <div>
                            <input type="text" class="form-control text-center" id="country" placeholder="Lebanon" value="">
                        </div>
                    </div>                 
                </div>             
                <div class="form-group"> 
                    <label class="control-label col-sm-2" for="genre">Genre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control text-center" id="genre" placeholder="Genre" name="genre" value="">
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="control-label col-sm-2" for="address">Address</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control text-center" id="address" placeholder="Address" name="address" value="">
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="control-label col-sm-2" for="description">Info</label>                 
                    <div class="col-sm-10">
                        <textarea class="form-control bg-info" rows="3" id="description" name="description" data-pg-name="description"></textarea>
                    </div>
                </div>             
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox"> 
                            <label class="control-label"> 
                                <input type="checkbox" value="" checked="checked">        Channel Enabled ?        
                            </label>                         
                        </div>
                    </div>
                </div>
                <div class="form-group"> 
                    <div class="col-sm-offset-5 col-sm-2">
                        <button type="submit" class="btn btn-primary"> 
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Update
                        </button>
                    </div>
                </div>
            </form>
        </div>     
    </div>
<% } else { %>
    <div class="col-md-8 col-lg-8 col-md-push-2">
        <div class="jumbotron">
            <h2 class="text-center" style="border-radius: 4px; border: 1px solid; box-shadow: 1px 1px 1px 1px #f7f0f0 , 2px 2px 1px 1px;"><b><i>Channel</i></b><span class="bg-info text-primary" style="border-radius: 5px;">&nbsp;<%= locals.channel.title %>&nbsp;</span></h2> 
            <form role="form" class="form-horizontal text-primary" action="/profile" name="profile" id="profile" data-pg-name="profile" title="profile" style="border-radius: 5px; box-shadow: 1px 1px 1px 1px #f9f3f3 , 2px 2px 1px 1px #000000; border: 1px solid #000000;"> 
                <div class="form-group"> 
                    <label class="control-label col-sm-2" for="title">Title</label>                 
                    <div class="col-sm-10" data-pg-name="uName">
                        <div>
                            <input type="text" class="form-control text-center" id="title" placeholder="User Name" data-pg-name="title" value="<%= locals.channel.title %>">
                        </div>
                    </div>                 
                </div>             
                <div class="form-group"> 
                    <label class="control-label col-sm-2" for="country">Country</label>                 
                    <div class="col-sm-10">
                        <div>
                            <input type="text" class="form-control text-center" id="country" placeholder="Lebanon" value="<%= locals.channel.country %>">
                        </div>
                    </div>                 
                </div>             
                <div class="form-group"> 
                    <label class="control-label col-sm-2" for="genre">Genre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control text-center" id="genre" placeholder="Genre" name="genre" value="<%= locals.channel.genre %>">
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="control-label col-sm-2" for="address">Address</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control text-center" id="address" placeholder="Address" name="address" value="<%= locals.channel.address %>">
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="control-label col-sm-2" for="description">Info</label>                 
                    <div class="col-sm-10">
                        <textarea class="form-control bg-info" rows="3" id="description" name="description" data-pg-name="description"><%= locals.channel.description %></textarea>
                    </div>
                </div>             
                <div class="radio"> 
                    <label class="control-label"> 
                        <input type="radio" name="group" value="option1" checked>        Option one        
                    </label>                 
                    <label class="control-label"> 
                        <input type="radio" name="group" value="option1" checked>        Option one        
                    </label>
                    <label class="control-label"> 
                        <input type="radio" name="group" value="option1" checked>        Option one        
                    </label>
                    <label class="control-label"> 
                        <input type="radio" name="group" value="option1" checked>        Option one        
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox"> 
                            <label class="control-label"> 
                                <input type="checkbox" value="">        Option one is this and that&mdash;be sure to include why it's great        
                            </label>                         
                        </div>
                    </div>
                </div>
                <div class="form-group"> 
                    <div class="col-sm-offset-4 col-sm-2 text-center bg-primary text-primary">
                        <input type="submit" class="form-control text-center text-primary bg-primary" placeholder="Placeholder text">
                    </div>
                </div>
            </form>
        </div>     
    </div>
<% }  %>
 