<nav class="navbar navbar-inverse"> 
    <div class="container-fluid"> 
        <div class="navbar-header"> 
            <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false"> 
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
            </button>                     
            <a href="/" id="btn_go_home" class="navbar-brand"><img src="/assets/images/logo-old.png" class="img-responsive img-rounded clearfix" style="max-width: 7em;"/></a> 
        </div>                 
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9"> 
            <ul class="nav navbar-nav"> 
                 
                <li <% if (locals.page == 'LiveTV' ) { %> class="active" <% } %> >
                    <a href="/livetv" id="btn_goto_livetv">LiveTV</a>
                </li>                         
                <li <% if (locals.page == 'Movies' || locals.page == 'Watch') { %> class="active" <% } %> >
                    <a href="/movies" id="btn_goto_movies">Movies</a>
                </li>                         
                <li <% if (locals.page == 'Series' ) { %> class="active" <% } %> >
                    <a href="/series" id="btn_goto_series">Series</a>
                </li>                         
            </ul>
            <% if (locals.page == 'Movies' ) { %>
                <ul class="nav navbar-nav text-center" style="margin-left:10%;">
                    <li style="margin:0px 2px;">
                        <% if (typeof(locals.movies['list_year']) !== 'undefined' && locals.movies['list_year'] !== 'any' ) { %>
                            <a class="btn" href="/movies?select_year=true" role="button">Year (<%= locals.movies['list_year'] %>) </a>
                        <% } else { %>
                        <a class="btn" href="/movies?select_year=true" role="button">Year</a>
                        <% } %>
                    </li>
                    <li style="margin:0px 2px;">
                        <% if(typeof(locals.movies['list_genre']) !== 'undefined' && locals.movies['list_genre'] !== 'any') { %>
                            <a class="btn" href="/movies?select_genre=true" role="button">Genre (<%= locals.movies['list_genre'] %> )</a>
                        <% }else {%>
                            <a class="btn" href="/movies?select_genre=true" role="button">Genre</a>
                        <%} %>
                        
                    </li>
                    <li style="margin:0px 2px;">
                        <a >Found <%= locals.movies['count'] %> Movies</a>
                    </li>
                    
                    <li>
                        <% if (parseInt(locals.movies['page'])-1 == 0){ %>
                            <a href="/movies?page=<%= parseInt(locals.movies['page'])-1 %>" style="padding-right: 0px;" class="disabled text-lightyellow">
                            <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                            </a>
                        <% }else{ %>
                            <a href="/movies?page=<%= parseInt(locals.movies['page'])-1 %>" style="padding-right: 0px;" class="text-gold"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a>
                        <% } %>
                        
                    </li>     
                
                    <li class="active">
                        <a href="#" class="disabled text-gold"><%= locals.movies.page %>/<%= locals.movies['count']%24==0 ? parseInt(locals.movies['count']/24) : parseInt(locals.movies['count']/24)+1 %> <span class="sr-only">(current)</span></a>
                    </li>     
                    
                    <li>
                        <% 
                            var pageCount= locals.movies['count']%24==0 ? parseInt(locals.movies['count']/24) : parseInt(locals.movies['count']/24)+1; 
                            if (parseInt(locals.movies['page']) == pageCount ) { %>
                                <a href="/movies?page=<%= parseInt(locals.movies['page'])+1 %>" style="padding-left: 0px;;" class="disabled text-lightyellow"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a>
                        <% } else { %>
                            <a href="/movies?page=<%= parseInt(locals.movies['page'])+1 %>" style="padding-left: 0px;;" class="text-gold"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a>
                        <% } %>
                    </li>
                    <li>
                    
                    <form class="navbar-form pull-right" action="/movies" method="GET" name="Search">
                        <input name="s" type="text" style="width: 200px; box-shadow: black 1px 1px 24px 6px inset; color: lightgoldenrodyellow; text-align: center; border-radius:5px;" value="<%= typeof(locals.movies['s']) == 'undefined'? '': locals.movies['s'] %>" autofocus>
                        <button type="submit" class="btn btn-xs btn-default" style="box-shadow: black 1px 1px 24px 6px inset; color: lightgoldenrodyellow; text-align: center; border-radius:5px;">Search</button>
                        <a href="/movies?clear=true" class="btn btn-xs btn-default" style="box-shadow: black 1px 1px 24px 6px inset; color: lightgoldenrodyellow; text-align: center; border-radius:5px;">Clear</a>
                    </form>
                    
                    </li>
                </ul>
            <% } else if (locals.page == 'LiveTV') {%>
                
                <ul class="nav navbar-nav " style="margin-left:10%;">
                    <li class="">
                        <a href="/livetv?search_country=true">Country</a>
                    </li>
                    <li>
                        <a href="/livetv?search_genre=true">Genre</a>
                    </li>
                    <span></span>
                    <% if(locals.channels.total_count==0) {%>
                        
                        <p class="btn btn-xs btn-danger navbar-text"  role="button" style="box-shadow: black 1px 1px 24px 6px inset; color: lightgoldenrodyellow; text-align: center; border-radius:5px;">Channels <span class="badge"><%= locals.channels.total_count %></p>
                        
                        
                    <% } else {%> 
                        <p class="btn btn-xs btn-default navbar-text" style="box-shadow: black 1px 1px 24px 6px inset; color: lightgoldenrodyellow; text-align: center; border-radius:5px;">Channels <span class="badge"><%= locals.channels.total_count %></span></p>
                    <%} %> 
                    
                    <% if(typeof(locals.loggedIn) !== 'undefined' ) {%>
                        <%#  if a user is logged in then we can check for loggedInUser.utype and see if we have previlidge to add or remove new channel %>
                        <% if (['admin','siteAdmin','sysAdmin'].indexOf(locals.loggedInUser.uType) !== -1 ) {%>
                            
                            <a class="btn btn-xs navbar-text btn-primary" href="/AddChannel" role="button" style="box-shadow: black 1px 1px 24px 6px inset; color: lightgoldenrodyellow; text-align: center; border-radius:5px;"> Add Channel 
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </a>
                            
                        <% } %>
                    <% } %>
                </ul>
                
            <% } else if (locals.page == 'Series') {%>
                <ul class="nav navbar-nav text-center" style="margin-left:10%;">
                    <li style="margin:0px 2px;">
                        <% if (typeof(locals.series['list_year']) !== 'undefined' && locals.series['list_year'] !== 'any' ) { %>
                            <a class="btn" href="/series?select_year=true" role="button">Year (<%= locals.series['list_year'] %>) </a>
                        <% } else { %>
                        <a class="btn" href="/series?select_year=true" role="button">Year</a>
                        <% } %>
                    </li>
                    <li style="margin:0px 2px;">
                        <% if(typeof(locals.series['list_genre']) !== 'undefined' && locals.series['list_genre'] !== 'any') { %>
                            <a class="btn" href="/series?select_genre=true" role="button">Genre (<%= locals.series['list_genre'] %> )</a>
                        <% }else {%>
                            <a class="btn" href="/series?select_genre=true" role="button">Genre</a>
                        <%} %>
                        
                    </li>
                    <li style="margin:0px 2px;">
                        <a >Found <%= locals.series['count'] %> Series</a>
                    </li>
                    
                    <li>
                        <% if (parseInt(locals.series['page'])-1 == 0){ %>
                            <a href="/series?page=<%= parseInt(locals.series['page'])-1 %>" style="padding-right: 0px;" class="disabled text-lightyellow">
                            <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                            </a>
                        <% }else{ %>
                            <a href="/series?page=<%= parseInt(locals.series['page'])-1 %>" style="padding-right: 0px;" class="text-gold"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a>
                        <% } %>
                        
                    </li>     
                
                    <li class="active">
                        <a href="#" class="disabled text-gold"><%= locals.series.page %>/<%= locals.series['count']%24==0 ? parseInt(locals.series['count']/24) : parseInt(locals.series['count']/24)+1 %> <span class="sr-only">(current)</span></a>
                    </li>     
                    
                    <li>
                        <% 
                            var pageCount= locals.series['count']%24==0 ? parseInt(locals.series['count']/24) : parseInt(locals.series['count']/24)+1; 
                            if (parseInt(locals.series['page']) == pageCount ) { %>
                                <a href="/series?page=<%= parseInt(locals.series['page'])+1 %>" style="padding-left: 0px;;" class="disabled text-lightyellow"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a>
                        <% } else { %>
                            <a href="/series?page=<%= parseInt(locals.series['page'])+1 %>" style="padding-left: 0px;;" class="text-gold"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a>
                        <% } %>
                    </li>
                    <li>
                    
                    <form class="navbar-form pull-right" action="/series" method="GET" name="Search">
                        <input name="s" type="text" style="width: 200px; box-shadow: black 1px 1px 24px 6px inset; color: lightgoldenrodyellow; text-align: center; border-radius:5px;" value="<%= typeof(locals.series['s']) == 'undefined'? '': locals.series['s'] %>" autofocus>
                        <button type="submit" class="btn btn-xs btn-default" style="box-shadow: black 1px 1px 24px 6px inset; color: lightgoldenrodyellow; text-align: center; border-radius:5px;">Search</button>
                        <a href="/series?clear=true" class="btn btn-xs btn-default" style="box-shadow: black 1px 1px 24px 6px inset; color: lightgoldenrodyellow; text-align: center; border-radius:5px;">Clear</a>
                    </form>
                    
                    </li>
                </ul>
            <% } %>
            <% if(typeof(locals.loggedIn) == "undefined" || !locals.loggedIn) { %>
            <ul class="nav navbar-nav navbar-right">
                <li <% if (locals.page == 'login' ) { %> class="active" <% } %> >
                    <a href="/login" id="btn_goto_login">login</a>
                </li>
            </ul>
            <% } else { %>
            <ul class="nav navbar-nav navbar-right">
                <li <% if (locals.page == 'options') { %> class="active" <% } %> >
                    <a href="/options" id="btn_goto_profile"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    options</a>
                </li>
                <li>
                    <a href="/logout" id="btn_goto_logout">logout</a>
                </li>
            </ul>
            <% } %>
        </div>                 
    </div>             
</nav>