<!DOCTYPE html>
<html>
  <%- include('partials/head',locals) %>
  
  <body>
    <!-- Header Navbar -->
    <%- include('partials/navbar',locals) %>
    <div class="container">
        
        <div class="row">
            <div class="jumbotron bg-danger text-danger" style=" background-color: #e2adad; background: linear-gradient(90deg, #FF512F, #DD2476);"> 
                <h1 style="text-align: center;text-shadow: 2px 2px 5px #f9f2f2; font-style: italic; color: #3b1ec2; font-weight: bolder; font-variant: small-caps;"><%= message %></h1> 
                <p><%= error.status %></p>
                <hr>
                <pre><%= error.stack %></pre>      
            </div>
        </div>
        
    </div>
    
    <!-- Footer NavBar  -->
    <%- include('partials/footer_navbar') %>
    <!-- Foot Scripts JavaScripts -->
    <%- include('partials/foot') %>
  </body>
  
</html>
<!-- 
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre> -->
