<!DOCTYPE html>
<html>
  <%- include('partials/head',locals) %>
  
  <body>
    <!-- Header Navbar -->
    <%- include('partials/navbar',locals) %>
    <div class="alert alert-danger h4 text-center">
      <span class="glyphicon glyphicon-exclamation-sign"> </span>&nbsp;<strong>Info!</strong> This Channel Page Is Still <Strong>Under Construction (Demo Mode)</Strong> and may undergo alot of changes.
      <br>
      <span class="glyphicon glyphicon-envelope"> </span> &nbsp;your feedback is well acknowledged and important for us during this process
    </div>
    <div class="container-fluid" style="margin-bottom: 50px;">
        
      <div class="row">

      <% if (typeof(locals.channels) == 'undefined') { %>
        
        <div class="jumbotron">
          <div class="container">
            <h1 style="text-align: center;text-shadow: 2px 2px 5px #f9f2f2; font-style: italic; color: #3b1ec2; font-weight: bolder; font-variant: small-caps;">Live TV</h1>
            <p>Something Went Wrong !!!</p>
            <br>
            <p>Contact Administrator for further notice and follow up of the problem </p>
            <p>
              <a href="/" class="btn btn-primary btn-lg">Home</a>
            </p>
          </div>
        </div>
        
      <% } else { %>
        <div class="row center-block text-center"> 
          <% locals.channels.list.forEach(function(item,index){ %>
               
              <%- include('partials/channel',{'item':item,'text_truncate_padEnd':locals['text_truncate_padEnd']}) %>
              <% if ((index+1)%6 == 0 ){ %>
              </div>
              <div class="row center-block text-center"> 
              <% } %> 
          <%}) %>
          </div>
      <% }%>
      </div>
    </div>

    <!-- Footer NavBar  -->
    <%- include('partials/footer_navbar') %>
    <!-- Foot Scripts JavaScripts -->
    <%- include('partials/foot') %>
  </body>
  
</html>