<!DOCTYPE html>
<html>
  <%- include('partials/head',locals) %>
  
  <body>
    <!-- Header Navbar -->
    <%- include('partials/navbar',locals) %>
    <div class="container-fluid" style="margin-bottom: 50px;">
        <div class="row">
            <%- include('partials/Serie',locals) %>
        </div>
    </div>
    
    <!-- Footer NavBar  -->
    <%- include('partials/footer_navbar') %>
    <!-- Foot Scripts JavaScripts -->
    <%- include('partials/foot') %>
  </body>
  <script>
      var mapEpisodeTable;
      var mapSeasonTable;
      var mapFolder;
      var newSeries={};
      var newSeasons=[];
      var newEpisodes=[];
      var seriesFolder='/home/fbanna/Videos/Series';
      var seriesFileTypeIncludes=['.mp4'];
      var selectedEpIdx=null;
  </script>
  
</html>
